.top-nav {
  overflow: hidden;
  background-color: #1d2147;
  color: #FFF;
  top: 0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.team-logo {
  height: 60px;
}

.navigation-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.top-nav a {
  height: 60px;
  float: left;
  text-align: center;
  padding: 0 8px;
  text-decoration: none;
  font-size: 17px;
  color: white !important;
}

.top-nav a:hover {
  text-decoration: none;
  color: currentColor;
}

.top-nav a.active {
  text-decoration: none;
  color: white!important;
  display: flex;
  justify-content: center;
  align-items: center;
}


.top-nav a:link {
  text-decoration: none;
  color: currentColor;
}

.top-nav a.nav-link:hover {
  text-decoration: none;
  color: currentColor;
}

.top-nav a.nav-link {
  float: right;
  margin-left: 12px;
  color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-logo-container {
  font-size: 2rem;
  /* height: 60px; */
  /* background-color: white; */
  /* padding: 0 10px; */
  display: flex;
  align-items: center;
}

.team-logo-team-text {
  font-weight: 240;
  padding: 0 10px;
  color: white;
  background-color: #1d2147;
}

.team-logo-text-bold{
  font-weight: bold;
}

.team-logo-second-container {
  font-size: 30px;
  font-weight: bold;
  color: blue;
}

.nav-bar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  padding-left: 1rem;
}

.nav-bar-username {
 padding-left: 0.25rem;
 color: white;
}
.logo-style {
  margin-top: 4px;
  font-size: 10px;
  font-weight: bolder;
  padding: 5px;
  color: white;
}
@media only screen and (max-width: 620px) {
  /* Adjust font size for screens smaller than 600px (typical mobile devices) */
  .logo-style {
    font-size: 20px;
  }
}